@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes flyup {
  from {
    top: 3rem; }
  to {
    top: 1rem; } }

@keyframes flyup {
  from {
    top: 3rem; }
  to {
    top: 1rem; } }

.fade-up {
  -webkit-animation-name: fade,flyup;
  animation-name: fade,flyup;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }
