.abs-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.screen-height {
  height: 100vh;
  min-height: 640px;
  max-height: 1080px; }

.full-size {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.auto-sizing {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.wrapper {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto; }

.padding-box {
  padding: 1rem; }

.padding-box-large {
  padding: 2rem; }

.padding-v {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.margin-box {
  margin: 0.25rem; }

.margin-box-large {
  margin: 2rem; }

.no-stretch > * {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.all-stretch > * {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.grow-1 {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.grow-2 {
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.grow-3 {
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

.grow-4 {
  -webkit-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4; }

.grow-5 {
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5; }

.no-shrink {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.size-1-3 {
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }
