@import "variable"
@import "root"
@import "position"
@import "sizing"
@import "animate"
@import "modal"
@import "id"

//extra position sizing
.m-3-per-line
  &>*
    @media only screen and (max-width: 84rem)
      flex-basis: 25%



//text

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-indent
  text-indent: 2em
.text-indent-large
  text-indent: 4em
.text-color-sub
  color: grey
/*-----------------------------------------------------------------------------*/


/*--------------extra------------------------------------*/
// colors
.bg-primary
  background-color: $color-prime

.bg-secondary
  background-color: $color-secondary

.bg-third
  background-color: $color-third


// font
.bold
  font-weight: bold
.font-white
  color: white
.font-light
  font-weight: lighter
.font-dark
  color: $color-prime-dark

// decoration
.bg-light
  background-color: $color-prime
  box-shadow: 0 0 1em $color-prime-dark inset
.underline
  position: relative
  display: inline-flex
  &::before
    content: ''
    position: absolute
    width: 200%
    height: 0.1rem
    background-color: white
    top: 90%
    left: -52.5%
    margin-top: 4px
    display: block

  &::after
    content: ''
    position: absolute
    width: 110%
    height: 0.3rem
    top: 90%
    left: -6%
    border: 0.1rem solid white
    border-left: none
    border-right: none


.little-shadow
  box-shadow: 0.05rem 0.05rem 0.1rem black

.border
  border: 0.2em solid black
.little-rounded
  border-radius: 0.2em
.rounded
  border-radius: 50%


.content-space-down
  &>*:not(:last-child)
    margin-bottom: 0.1em

.nav
  color: black
  align-self: stretch
  display: inline-flex
  box-shadow: 0px 0px 25px black
  border-radius: 2rem
  margin: 1rem
  margin-bottom: 1.5rem
  position: relative
  background-color: white
  ul
    flex-grow: 1
    list-style: none
    display: inline-flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-around
    li
      display: inline-flex
      a
        padding: 0.5em 1.2em
        transition: all 0.5s
        &:hover
          color: $color-prime-dark



.nav-fixed
  position: fixed
  top: 0
  width: 97%
  min-width: 1000px
  max-width: 1869px
  // margin: 1rem
  z-index: 5
  margin-top: 0.25em
  // transition: margin 0.5s
  top: 0
  animation-name: flydown
  animation-duration: 0.5s


.content-skills
  padding: 1rem 1rem
  max-width: 48rem
  font-weight: bold
  font-size: 1rem
  z-index: 1
  &>.skill-box
    flex-basis: 7rem
    height: 7rem
    margin: 0.5rem 1.5rem
    border-radius: 50%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: $color-prime-light
    box-shadow: 0 0 0.5rem black
    z-index: 1
    cursor: pointer
    &>.skill-img
      text-align: center
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 70%
      height: 70%
      &>span
        z-index: 2
        font-weight: bold
        font-size: 1rem
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-position: center
        background-size: contain
        background-repeat: no-repeat
        opacity: 0.4
        z-index: 1
        transition: opacity 0.3s
    &:hover>.skill-img::before
        opacity: 1
    &:nth-child(1)>.skill-img
      &::before
        background-image: url('/public/icon/c.png')
    &:nth-child(2)>.skill-img
      &::before
        background-image: url('/public/icon/java.png')
    &:nth-child(3)>.skill-img
      &::before
        background-image: url('/public/icon/html5.png')
    &:nth-child(4)>.skill-img
      &::before
        background-image: url('/public/icon/css3.png')
    &:nth-child(5)>.skill-img
      &::before
        background-image: url('/public/icon/javascript.png')
    &:nth-child(6)>.skill-img
      &::before
        background-image: url('/public/icon/nodejs.png')
    &:nth-child(7)>.skill-img
      &::before
        background-image: url('/public/icon/github.png')
    &:nth-child(8)>.skill-img
      &::before
        background-image: url('/public/icon/google.png')

.edu
  height: 7rem
  // border-radius: 1rem
  overflow: hidden
  box-shadow: 0.1rem 0.1rem 0.2rem black
  &>div:nth-child(1)
    flex-basis: 33.33%

  &>div:nth-child(2)
    flex-basis: 66.66%

.port-img
  width: 70%
  margin: 0 auto
  overflow: hidden
  &::after
    content: ""
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 100%
    left: 0
    bottom: 0
    right: 0
    margin: 0.2em
    transition: all 0.5s
    background-color: rgba(0, 0, 0, 0.4)
  &:hover
    &::after
      content: "Go To Github"
      color: white
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
  img
    display: block
  a
    z-index: 1


.img-cover
  width: 100%
  height: 100%
  object-fit: cover

.img-contain
  width: 100%
  height: 100%
  object-fit: contain

.list-reset
  &>li
    list-style: none

.item-space
  &>*
    margin: 0.25em 1em

.fa-hover
  transition: color 0.3s
  &:hover
    color: $color-prime-light
